.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-app);
  transition: var(--tr-regular);
}

.header--hidden {
  transform: translateY(-100%);
}

.header__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: $w-burger) {
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: inherit;
  }

  @media (max-width: $mobile-l) {
    padding-right: 0.5rem;
  }
}

.header__logo {
  margin-right: 8.45rem;

  @media (max-width: $w-burger) {
    margin-right: auto;
  }
}

.header__menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: var(--tr-regular);

  @media (max-width: $w-burger) {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 	6rem 2rem 3rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--bg-app);
    z-index: -1;
    transform: translateY(-200%);
    overflow: auto;
    padding-top: 9.5rem;
    padding-left: var(--p-container);
    padding-right: var(--p-container);
  }
}

.header--opened .header__menu {
  transform: translateY(0);
}
.header__nav {
  margin-right: auto;

  @media (max-width: $tablet) {
    margin-bottom: auto;
  }

  @media (max-width: $w-burger) {
    margin-right: unset;
    margin-bottom: 1.7rem;
  }
}

.header__nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.6rem;
  line-height: initial;

  @media (max-width: $w-burger) {
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.8rem;
  }
}

.header__nav-link {
  display: block;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: inherit;

  @media (max-width: $w-burger) {
    padding: 0;
  }
}

.header__nav-item {
  position: relative;
  transition: var(--tr-regular);
  color: var(--fg-second);
}

.header__nav-item:hover {
  @media (any-hover:hover) {
    color: var(--c-primary);
  }
}


.header__nav-item:not(:last-child) {
  margin-right: 4.5rem;

  @media (max-width: $desktop-s) {
    margin-right: 3rem;
  }

  @media (max-width: $w-burger) {
    margin-right: unset;
    margin-bottom: 1.4rem;
  }
}

.header__nav-item.header__nav-item--active {
  font-weight: 700;

  @media (max-width: $w-burger) {
    color: var(--c-primary);
  }
}

.header__nav-item.header__nav-item--active:after {
  content: "";
  display: block;
  width: 90%;
  height: 0.3rem;
  background-color: var(--c-second);
  border-radius: 0.6rem 0.6rem 0 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $w-burger) {
    display: none;
  }
}

.header__buttons {
  display: grid;
  align-items: center;
  justify-content: flex-start;
  margin-right: 3.7rem;

  @media (max-width: $w-burger) {
    flex-wrap: wrap;
    margin-right: 0;
  }
}

.header__contacts {
  @media (min-width: $w-burger) {
    display: none;
  }
}

.header-shoppers {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-shoppers__item {
  margin-right: 2.1rem;
  position: relative;

  @media (max-width: $w-burger) {
    margin-right: 1rem;
    position: static;
  }
}

.header-shoppers__item:last-child {
  margin-right: 0;
}

.header-shoppers__dropdown {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: var(--tr-regular);
  position: absolute;
  top: 140%;
  right: 0;
  width: 320px;
  transform: translateY(2rem);
  box-shadow: 0px 1.4rem 4.4rem 0px rgba(197, 197, 197, 0.25);

  @media (max-width: $w-burger) {
    max-width: #{'calc(100% - 2.2rem)'};
    left: 0;
    margin-right: auto;
    margin-left: auto;
    top: 90%;
  }
}

.header-shoppers__dropdown::after {
  content: "";
  display: block; 
  position: absolute; 
  top: -1rem;
  right: 1.4rem; 
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.8rem 1rem 0.8rem;
  border-color: transparent transparent var(--bg-card) transparent;

  @media (max-width: $mobile-l) {
    right: 8.4rem;
  }
}

.header-shoppers__search._opened .header-shoppers__dropdown{
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
  transform: translateY(0);
}

.header-shoppers__item.active .header-shoppers__dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.header-shoppers__item-icon {
  max-width: 3.2rem;
  max-height: 4.3rem;
  width: 100%;

  @media (max-width: $w-burger) {
    max-width: 2.6rem;
    max-height: 2.6rem;
  }
}


.header__burger {
  --c-burger-line: #777782;
  --line-width: 71.25%;

  @media (max-width: $tablet) {
    margin-left: 1.8rem;
  }
}

.header__button-callback {
  @media (max-width: $w-burger) {
    margin-bottom: 2.7rem;
  }
}

