<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Товар</title>
    <link rel="stylesheet" href="./css/style.css" />

    <!-- Отключить автодетект телефонов -->
    <meta name="format-detection" content="telephone=no" />

    <!-- Отключить кэширование. Нужен только при разработке, чтобы все было свежим -->
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Cache-Control" content="max-age=3600, must-revalidate" />
  </head>
  <body>
    <div class="wrapper">
      @@include('tpls/header.html',{})

      <div class="breadcrumbs">
        <div class="breadcrumbs__container container">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a href="#" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">
              <a href="#" class="breadcrumbs__link">Новинки</a>
            </li>
            <li class="breadcrumbs__item">
              Блузка голубая «Первый класс»
            </li>
          </ul>
        </div>
      </div>
      <main class="main">

        <section class="section product-hero">
          <div class="container product-hero__container">
            <div class="product-hero__carousel">
              <div class="product-hero__gallery">
                <div class="swiper product-hero__gallery-swiper">
                  <div class="swiper-wrapper">
                    @@for (var i = 0; i < 8; i++) {
                      <div class="swiper-slide product-hero__gallery-slide">
                        <picutre class="product-hero__pic">
                          <img src="./img/catalog/product-page.jpg" alt="" class="product-hero__img">
                        </picutre>
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="product-hero__thumbs">
                <div class="swiper-button-prev product-hero__thumbs-button-prev"></div>
                <div class="swiper product-hero__thumbs-swiper">
                  <div class="swiper-wrapper">
                    @@for (var i = 0; i < 8; i++) {
                      <div class="swiper-slide product-hero__thumbs-slide">
                        <picutre class="product-hero__pic">
                          <img src="./img/catalog/product-page.jpg" alt="" class="product-hero__img">
                        </picutre>
                      </div>
                    }
                  </div>
                </div>
                <div class="swiper-button-next product-hero__thumbs-button-next"></div>
              </div>
            </div>           
            <div class="product-hero__info">
              <p class="product-hero__sku">
                <span>Арт.:</span>
                <span class="product-hero__sku-id">NNN</span>
              </p>
              <h1 class="product-hero__title">
                Блузка голубая «Первый класс»
              </h1>
              <div class="product-hero__price-wrap">
                <button class="button-second button-filled product-hero__button-get-price">
                  Узнайте цену
                </button>
              </div>

              <div class="product-hero__stat product-hero__colors">
                <h3 class="product-hero__stat-title">Цвета:</h3>
                <div class="product-hero__colors-gallery-wrap">
                  <div class="product-hero__colors-gallery">
                    <div class="product-hero__colors-card product-hero__colors-card--current">
                      <figure class="product-hero__colors-card-media">
                        <picure class="product-hero__colors-card-media-pic">
                          <img src="./img/catalog/product-page.jpg" alt="" class="product-hero__colors-card-media-img">
                        </picure>
                      </figure>
                    </div>
                    <a href="#" class="product-hero__colors-card">
                      <figure class="product-hero__colors-card-media">
                        <picure class="product-hero__colors-card-media-pic">
                          <img src="./img/catalog/product-page--blue.jpg" alt="" class="product-hero__colors-card-media-img">
                        </picure>
                      </figure>
                    </a>
                    <a href="#" class="product-hero__colors-card">
                      <figure class="product-hero__colors-card-media">
                        <picure class="product-hero__colors-card-media-pic">
                          <img src="./img/catalog/product-page--pink.jpg" alt="" class="product-hero__colors-card-media-img">
                        </picure>
                      </figure>
                    </a>
                    <a href="#" class="product-hero__colors-card">
                      <figure class="product-hero__colors-card-media">
                        <picure class="product-hero__colors-card-media-pic">
                          <img src="./img/catalog/product-page--green.jpg" alt="" class="product-hero__colors-card-media-img">
                        </picure>
                      </figure>
                    </a>
                    <a href="#" class="product-hero__colors-card">
                      <figure class="product-hero__colors-card-media">
                        <picure class="product-hero__colors-card-media-pic">
                          <img src="./img/catalog/product-page--yellow.jpg" alt="" class="product-hero__colors-card-media-img">
                        </picure>
                      </figure>
                    </a>
                  </div>
                </div>
              </div>

              <div class="product-hero__stat product-hero__sizes">
                <h3 class="product-hero__stat-title">Размерный ряд:</h3>
                <ul class="product-hero__sizes-list">
                  <li class="product-hero__sizes-item">38</li>
                  <li class="product-hero__sizes-item">39</li>
                  <li class="product-hero__sizes-item">40</li>
                  <li class="product-hero__sizes-item">41</li>
                  <li class="product-hero__sizes-item">42</li>
                </ul>
              </div>

              <div class="product-hero-tabs b_tabs">
                <div class="b_tabs-switchers product-hero-tabs__switchers" data-tabs="product-desc">
                  <button class="b_tabs-button product-hero-tabs__button" type="button">
                    Описание 
                  </button>
                  <button class="b_tabs-button product-hero-tabs__button" type="button">
                    Состав
                  </button>
                  <button class="b_tabs-button product-hero-tabs__button" type="button">
                    Уход
                  </button>
                </div>
                <div class="b_tabs-pages product-hero__pages" data-tabs="product-desc">
                  <div class="b_tabs-page product-hero__page">
                     <div class="wysiwyg">
                       <p>
                         Длина вектора по-прежнему востребована. Конкурентоспособность актаульна как никогда. PR, безусловно, трансформирует повседневный целевой трафик.
                       </p>
                       <p>
                         Медиабизнес по-прежнему устойчив к изменениям спроса. Коммуникация очевидна не для всех.
                       </p>
                     </div>
                  </div>
                  <div class="b_tabs-page product-hero__page">
                    <div class="wysiwyg">
                      <p>
                        То, что написано на этой странице неправда! Следовательно: рыночная ситуация откровенно цинична.
                      </p>
                      <p>
                         Социальная ответственность переворачивает экспериментальный выставочный стенд. Сходящийся ряд, исключая очевидный случай, решительно притягивает интеграл от функции, имеющий конечный разрыв, осознавая социальную ответственность бизнеса.
                      </p>
                      <p>
                         Такое понимание ситуации восходит к Эл Райс, при этом огибающая семейства прямых поддерживает минимум.
                      </p>
                    </div>
                  </div>
                  <div class="b_tabs-page product-hero__page">
                    <div class="wysiwyg">
                      <p>
                         Такое понимание ситуации восходит к Эл Райс, при этом огибающая семейства прямых поддерживает минимум.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="section product-hero">
          <div class="container product-hero__container">
            <div class="product-hero__carousel">
              <div class="product-hero__gallery">
                <div class="swiper product-hero__gallery-swiper">
                  <div class="swiper-wrapper">
                    @@for (var i = 0; i < 8; i++) {
                      <div class="swiper-slide product-hero__gallery-slide">
                        <picutre class="product-hero__pic">
                          <img src="./img/catalog/product-page.jpg" alt="" class="product-hero__img">
                        </picutre>
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="product-hero__thumbs">
                <div class="swiper-button-prev product-hero__thumbs-button-prev"></div>
                <div class="swiper product-hero__thumbs-swiper">
                  <div class="swiper-wrapper">
                    @@for (var i = 0; i < 8; i++) {
                      <div class="swiper-slide product-hero__thumbs-slide">
                        <picutre class="product-hero__pic">
                          <img src="./img/catalog/product-page.jpg" alt="" class="product-hero__img">
                        </picutre>
                      </div>
                    }
                  </div>
                </div>
                <div class="swiper-button-next product-hero__thumbs-button-next"></div>
              </div>
            </div>           
            <div class="product-hero__info">
              <p class="product-hero__sku">
                <span>Арт.:</span>
                <span class="product-hero__sku-id">NNN</span>
              </p>
              <h1 class="product-hero__title">
                Блузка голубая «Первый класс»
              </h1>
              <div class="product-hero__price-wrap">
                <p class="product-hero__price">
                  <span class="product-hero__price-new">
                    <span class="product-hero__price-value">1500</span>
                    <span class="product-hero__price-currency">₽</span>
                  </span>
                  <span class="product-hero__price-old">
                    <span class="product-hero__price-value">3000</span>
                    <span class="product-hero__price-currency">₽</span>
                  </span>
                </p>
              </div>

              <div class="product-hero__stat product-hero__colors">
                <h3 class="product-hero__stat-title">Цвета:</h3>
                <div class="product-hero__colors-gallery-wrap">
                  <div class="product-hero__colors-gallery">
                    <div class="product-hero__colors-card product-hero__colors-card--current">
                      <figure class="product-hero__colors-card-media">
                        <picure class="product-hero__colors-card-media-pic">
                          <img src="./img/catalog/product-page.jpg" alt="" class="product-hero__colors-card-media-img">
                        </picure>
                      </figure>
                    </div>
                    <a href="#" class="product-hero__colors-card">
                      <figure class="product-hero__colors-card-media">
                        <picure class="product-hero__colors-card-media-pic">
                          <img src="./img/catalog/product-page--blue.jpg" alt="" class="product-hero__colors-card-media-img">
                        </picure>
                      </figure>
                    </a>
                    <a href="#" class="product-hero__colors-card">
                      <figure class="product-hero__colors-card-media">
                        <picure class="product-hero__colors-card-media-pic">
                          <img src="./img/catalog/product-page--pink.jpg" alt="" class="product-hero__colors-card-media-img">
                        </picure>
                      </figure>
                    </a>
                    <a href="#" class="product-hero__colors-card">
                      <figure class="product-hero__colors-card-media">
                        <picure class="product-hero__colors-card-media-pic">
                          <img src="./img/catalog/product-page--green.jpg" alt="" class="product-hero__colors-card-media-img">
                        </picure>
                      </figure>
                    </a>
                    <a href="#" class="product-hero__colors-card">
                      <figure class="product-hero__colors-card-media">
                        <picure class="product-hero__colors-card-media-pic">
                          <img src="./img/catalog/product-page--yellow.jpg" alt="" class="product-hero__colors-card-media-img">
                        </picure>
                      </figure>
                    </a>
                  </div>
                </div>
              </div>
              
              <div class="product-hero__stat product-hero__sizes">
                <h3 class="product-hero__stat-title">Размерный ряд:</h3>
                <ul class="product-hero__sizes-list">
                  <li class="product-hero__sizes-item">38</li>
                  <li class="product-hero__sizes-item">39</li>
                  <li class="product-hero__sizes-item">40</li>
                  <li class="product-hero__sizes-item">41</li>
                  <li class="product-hero__sizes-item">42</li>
                </ul>
              </div>

              <form class="product-hero__buy">
                <div class="stepper product-hero__stepper">
                  <button class="stepper__button stepper__minus" type="button">−</button>
                  <input type="text" name="product_conunt" class="stepper__value" value="8">
                  <button class="stepper__button stepper__plus" type="button">+</button>
                </div>
                <input
                  type="hidden"
                  value="sizes_line"
                  readonly
                  class="product-hero__buy-sizes-per-line"
                >
                <input type="hidden" class="product-hero__quantity" name="quantity">
                <button class="product-hero__buy-button button-primary button-filled">
                  В корзину
                </button>
              </form>
              <div class="product-hero-tabs b_tabs">
                <div class="b_tabs-switchers product-hero-tabs__switchers" data-tabs="product-desc-2">
                  <button class="b_tabs-button product-hero-tabs__button" type="button">
                    Описание 
                  </button>
                  <button class="b_tabs-button product-hero-tabs__button" type="button">
                    Состав
                  </button>
                  <button class="b_tabs-button product-hero-tabs__button" type="button">
                    Уход
                  </button>
                </div>
                <div class="b_tabs-pages product-hero__pages" data-tabs="product-desc-2">
                  <div class="b_tabs-page product-hero__page">
                     <div class="wysiwyg">
                       <p>
                         Длина вектора по-прежнему востребована. Конкурентоспособность актаульна как никогда. PR, безусловно, трансформирует повседневный целевой трафик.
                       </p>
                       <p>
                         Медиабизнес по-прежнему устойчив к изменениям спроса. Коммуникация очевидна не для всех.
                       </p>
                     </div>
                  </div>
                  <div class="b_tabs-page product-hero__page">
                    <div class="wysiwyg">
                      <p>
                        То, что написано на этой странице неправда! Следовательно: рыночная ситуация откровенно цинична.
                      </p>
                      <p>
                         Социальная ответственность переворачивает экспериментальный выставочный стенд. Сходящийся ряд, исключая очевидный случай, решительно притягивает интеграл от функции, имеющий конечный разрыв, осознавая социальную ответственность бизнеса.
                      </p>
                      <p>
                         Такое понимание ситуации восходит к Эл Райс, при этом огибающая семейства прямых поддерживает минимум.
                      </p>
                    </div>
                  </div>
                  <div class="b_tabs-page product-hero__page">
                    <div class="wysiwyg">
                      <p>
                         Такое понимание ситуации восходит к Эл Райс, при этом огибающая семейства прямых поддерживает минимум.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="section bestseller">
          <div class="container bestseller__container">
            <h2 class="section-title bestseller__title">Похожее</h2>
            <div class="bestseller-carousel carousel">
              <div class="swiper carousel-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide carousel-slide">
                    @@include('tpls/mdn/product-card--has-price.html',{})
                  </div>
                  <div class="swiper-slide carousel-slide">
                    @@include('tpls/mdn/product-card.html',{})
                  </div>
                  <div class="swiper-slide carousel-slide">
                    @@include('tpls/mdn/product-card.html',{})
                  </div>
                  <div class="swiper-slide carousel-slide">
                    @@include('tpls/mdn/product-card.html',{})
                  </div>
                  <div class="swiper-slide carousel-slide">
                    @@include('tpls/mdn/product-card.html',{})
                  </div>
                  <div class="swiper-slide carousel-slide">
                    @@include('tpls/mdn/product-card.html',{})
                  </div>
                </div>
              </div>
              <div class="carousel__nav">
                <div class="swiper-buttons carousel-buttons">
                  <div class="swiper-button-prev carousel-button-prev"></div>
                  <div class="swiper-button-next carousel-button-next"></div>
                </div>
                <div class="swiper-pagination carousel-pagination"></div>
              </div>
            </div>
          </div>
        </section>

      </main>
      @@include('tpls/footer.html',{})
    </div>

    @@include('tpls/modals.html', {})
    <script src="./js/index.min.js"></script>
    <script src="./js/product.min.js"></script>
  </body>
</html>
