:root {
  --tr: 0.3s;
  --tr-regular: all var(--tr) ease;

  // Colors
  --c-primary: #F6A6A3;

  --c-second: #7FC4E1;
  --c-second--light: #8BC8E3;
  --c-second--dark: #64AAC9;

  --fg-regular: #2F3C4F;
  --fg-second: #848483;
  --fg-third: #ababab;
  --fg-title: #5B5B5B;

  --fg-on: #fff;

  --c-error: #E5042C;
  --c-border: #eee;

  // BGs
  --bg-app: #fff;
  --bg-primary: #FAF2EB;
  --bg-second: #F9FBFF;

  // Fonts
  --ff-regular: "Inter", sans-serif;
  --ff-em: "TexGyreChorus", serif;

  // Widths
  --w-container: 117rem;
  //@media (max-width: $desktop-m) {
  //  --w-container: 1260px;
  //}
  //@media (max-width: $desktop-s) {
  //  --w-container: 892px;
  //}
  @media (max-width: 768px) {
    --w-container: 100%;
  }
}
