$laptop-l: 1500px;
$laptop-m: 1368px;
$laptop: 1100px;
$tablet: 992px;
$tablet-l: 962px;
$tablet-m: 768px;

$desktop-l: 1800px;
$desktop-m: 1500px;
$desktop-s: 1280px;

$mobile-xl: 601px;
$mobile-l: 450px;
$mobile-m: 390px;
$mobile-s: 330px;

$w-burger: $tablet;

:root {
  --base-size: 1vw;//#{"calc(1vw + 1vh)"};
  @media (min-width: $mobile-l + 1) and (max-width: $tablet) {
    //--base-size: #{"calc(1vw + 1vh)"};
  }
  --tr: 0.3s;
  --tr-regular: all var(--tr) ease;

  --regular-column-left: 93.3rem;
  --regular-column-right: 64.4rem;
  --regular-columns: var(--regular-column-left) var(--regular-column-right);

  @media (max-width: $desktop-s) {
    --regular-column-left: 83.3rem;
    // --regular-column-right: 54.4rem;
    --regular-column-right: 58.4rem;
  }
  @media (max-width: $tablet) {
    --regular-column-left: 43.3rem;
  }
  @media (max-width: $tablet-m) {
    --regular-column-left: 53.3rem;
  }

  // Fonts
  --ff-regular: "DinRoundPro", sans-serif;
  --ff-title: "DinPro", sans-serif;


  --p-container: 0;
  @media (max-width: $desktop-s) and (min-width: $tablet + 1) {
    --p-container: 4.5rem;
  }

  @media (max-width: $laptop) {
    --p-container: 1.8rem;
  }

  @media (max-width: $mobile-xl) {
    --p-container: 1rem;
  }

  // Widths
  --w-container: 117rem;
  @media (max-width: $tablet) {
    --w-container: 100%;
  }
}
