.form__row {
  padding: 0;
  margin: 0;
  display: grid;
  row-gap: 2rem;
  margin-bottom: 2.5rem;
}

.form__submit {
  width: 100%;
  margin-bottom: 1.7rem;
}

.form__caption {
  color: #d5d5d5;
  text-align: center;
}