.link-second {
  --link-color: var(--fg-third);
  display: inline;
  color: var(--link-color);
  font-size: inherit;
  transition: var(--tr-regular);
  border-bottom: 1px solid;
}
.link-second:hover {
  @media (any-hover:hover) {
    --link-color: var(--c-second)
  }
}
