.stepper {
  --padding: 0.3rem var(--minw-stepper-button) 0.45rem;
  --fz: 1.8rem;
	--fg-stepper-button: #000;
	--bg-stepper-button: var(--bg-card);
	--minw-stepper-button: 3.5rem;
	--fg-stepper-value: #000;
	--bg-stepper-value: var(--bg-card);
	--border-color: var(--c-primary);
	display: inline-flex;
  position: relative;
  border: 0.1rem solid var(--border-color);
  border-radius: 1rem;
  max-width: 11rem;

  @media (max-width: $mobile-xl) {
  	--fz: 1.2rem;
		--minw-stepper-button: 2.8rem;
	  max-width: 9rem;
  }
}

.stepper__minus,
.stepper__plus {
	position: absolute;
	top: 0;
	display: block;
	aspect-ratio: 1;
	min-width: var(--minw-stepper-button);
	height: 100%;
	color: var(--fg-stepper-button);
	background-color: var(--bg-stepper-button);
	font-size: var(--fz);
}

.stepper__minus[disabled],
.stepper__plus[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.stepper__minus {
	left: 0;
	border-right: 0.1rem solid var(--border-color)
}
.stepper__plus {
	right: 0;
	border-left: 0.1rem solid var(--border-color)
}

.stepper__value {
	color: var(--text-color);
	display: block;
	width: 100%;
	text-align: center;
	padding: var(--padding);
	font-size: var(--fz);
  font-family: var(--ff-title);
}
